.body-container {
  display: flex;
}

.card {
  box-shadow: 0 4px 8px 0 $color-box-shadow;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 $color-box-shadow;
}

.card-filter {
  flex: 1;
  width: 35%;
  padding: 10px;
  padding-left: 217px;
}

.body-card {
  padding: 2px 16px;
}

.card-result { 
  width: 65%;
  padding: 10px;
  padding-right: 200px;
}

.result{
  display: flex;
  width: 100%;
  .result-imagen {
    width: 40%;
  }

  label{ 
    margin-bottom: 3px;
  }
}

.result-text {
  width: 60%;
  .money{
    float: right;
  }

  .result-title{
    padding-top: 5px;
    padding-bottom: 4px;
    font-size: large;
  }

  .result-state label{
    color: $color-results-state;
    border-color: $color-results-state;
    border-style: solid;
    border-width: thin;
    padding: 1px 8px;
    font-size: 0.6em;
    text-transform: uppercase;
  }

  .result-ubication{
    text-transform: uppercase;
    color: #e6e2d3;
    font-size:large;
  }

  .result-time{
    color:grey;
    font-size:smaller;
    height: 50px;
    label{
      margin-top: 12px;
    }
    button {
      background-color: white;
      font-size:30px;
      border-radius: 0.15em;
      border-width: 0.04em;
      float: right;
      color:grey;
      border-color: grey;
      padding: 2px 11px 0;
    }
  }
}

.result-count {
  width: 100%;
  display: flex;
  text-align: center;
  padding: 20px 0px 20px 0px;
  .sort{
    float: right;
    margin-left:auto; 
    margin-right:0;
    text-align: center;
  }

  label{
    margin: auto;
    padding: 6px;
  }

  .css-2b097c-container{  
    margin-left: 10px;
    width: 140px;
  }
}

.filter-head{
  padding: 20px 0px 20px 0px;
}
.Collapsible__contentInner input{
  margin-right: 10px;
}

.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  padding: 10px;
}

.Collapsible__trigger:after {
  font-family: 'FontAwesome';
  content: '\f107';
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  transition: transform 300ms; 
}

.Collapsible__trigger.is-open:after {
  transform: rotateZ(180deg); 
}

.Collapsible__trigger.is-disabled {
  opacity: 0.5;
  background-color: grey; 
}